<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>title</key>
            <string>Tech</string>
            <key>name</key>
            <string>技术</string>
        </dict>
        <dict>
            <key>title</key>
            <string>Creative</string>
            <key>name</key>
            <string>创意</string>
        </dict>
        <dict>
            <key>title</key>
            <string>Play</string>
            <key>name</key>
            <string>好玩</string>
        </dict>
        <dict>
            <key>title</key>
            <string>Apple</string>
            <key>name</key>
            <string>Apple</string>
        </dict>
        <dict>
            <key>title</key>
            <string>Jobs</string>
            <key>name</key>
            <string>酷工作</string>
        </dict>
        <dict>
            <key>title</key>
            <string>Deals</string>
            <key>name</key>
            <string>交易</string>
        </dict>
        <dict>
            <key>title</key>
            <string>City</string>
            <key>name</key>
            <string>城市</string>
        </dict>
        <dict>
            <key>title</key>
            <string>qna</string>
            <key>name</key>
            <string>问与答</string>
        </dict>
        <dict>
            <key>title</key>
            <string>Hot</string>
            <key>name</key>
            <string>最热</string>
        </dict>
        <dict>
            <key>title</key>
            <string>All</string>
            <key>name</key>
            <string>全部</string>
        </dict>
        <dict>
            <key>title</key>
            <string>R2</string>
            <key>name</key>
            <string>R2</string>
        </dict>
    </array>
</plist>
